<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="modal-container">
    <img class="logo" src="assets/logo.png" alt="logo" />
    <form class="login-form-container" [formGroup]="userDataForm">
      <ion-radio-group formControlName="userType" name="userType">
        <div class="user-type-container">
          <ion-item>
            <ion-radio
              class="ion-no-padding"
              value="player"
              labelPlacement="stacked"
              >Player</ion-radio
            >
          </ion-item>
          <ion-item>
            <ion-radio value="employee" labelPlacement="stacked"
              >Employee</ion-radio
            >
          </ion-item>
        </div>
      </ion-radio-group>
      <ion-item>
        <ion-input
          label="Username"
          labelPlacement="floating"
          type="text"
          name="username"
          formControlName="username"
        ></ion-input>
      </ion-item>
      <div class="password-go-container">
        <ion-item>
          <ion-input
            label="Password"
            labelPlacement="floating"
            type="password"
            name="password"
            formControlName="password"
          ></ion-input>
        </ion-item>
        <ion-button type="submit" (click)="confirm()"> Go! </ion-button>
      </div>
    </form>
  </div>
</ion-content>
