<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="end">
      <ion-button [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="modal-container">
    <img class="logo" src="assets/logo.png" alt="logo" />
    <form class="login-form-container">
      <ion-radio-group value="player" [(ngModel)]="userData.userType">
        <div class="user-type-container">
          <ion-item>
            <ion-radio value="player" labelPlacement="stacked"
              >Player</ion-radio
            >
          </ion-item>
          <ion-item>
            <ion-radio value="employee" labelPlacement="stacked"
              >Employee</ion-radio
            >
          </ion-item>
        </div>
      </ion-radio-group>

      <ion-item>
        <ion-input
          label="Username"
          labelPlacement="floating"
          type="text"
          [(ngModel)]="userData.username"
        ></ion-input>
      </ion-item>
      <div class="password-go-container">
        <ion-item>
          <ion-input
            label="Password"
            labelPlacement="floating"
            type="text"
            [(ngModel)]="userData.password"
          ></ion-input>
        </ion-item>
        <ion-button type="submit"> Go! </ion-button>
      </div>
    </form>
  </div>
</ion-content>
