<div class="match-container">
  <ion-card class="team-card">
    <ion-card-content class="team-card-content">
      <img class="logo" src="assets/images/valorant.png" alt="logo" />
      <p>SENTINELS</p>
      <ion-button shape="round">2.0</ion-button>
    </ion-card-content>
  </ion-card>

  <div class="time-vs">
    <p>12 am (GMT+8)</p>
    <p>VS</p>
  </div>

  <ion-card class="team-card">
    <ion-card-content class="team-card-content">
      <ion-button shape="round">2.0</ion-button>
      <p>SENTINELS</p>
      <img class="logo" src="assets/images/valorant.png" alt="logo" />
    </ion-card-content>
  </ion-card>

  <ion-button  class="bet-selection">
    <ion-icon
      class="bet-selection-icon"
      slot="icon-only"
      name="chevron-forward-outline"
    ></ion-icon>
  </ion-button>
</div>