@if(matchData) {
<ion-menu
  style="--width: 400px"
  side="end"
  menuId="bet-menu"
  contentId="bet-selection"
>

  <ion-header>
    <ion-toolbar>
      <div class="toolbar-container">
        <ion-segment [(ngModel)]="selectedSegment">
          <ion-segment-button class="ion-segment" value="slip">
            <ion-label>Bet Slip</ion-label>
          </ion-segment-button>
          <ion-segment-button value="history">
            <ion-label>Your Bet</ion-label>
          </ion-segment-button>
        </ion-segment>

        <ion-button (click)="closeBetMenu()" class="bet-selection" fill="clear">
          <ion-icon
            class="bet-selection-icon"
            name="chevron-forward-circle"
            slot="icon-only"
          ></ion-icon>
        </ion-button>
      </div>
    </ion-toolbar>
  </ion-header>
  @if(selectedSegment === "slip"){

  <ion-content color="dark" class="ion-padding">
    <ion-card
      class="ion-no-padding"
      style="
        border: 1px solid black;
        background: #1b1c20;
        border-radius: 14px 14px 0px 0px;
        color: white;
        font-weight: 750;
      "
    >
      <ion-grid class="ion-no-padding" style="padding: 1.5rem">
        <img src="/assets/logo.png" alt="" />
        <ion-row style="align-items: center; gap: 0.5rem">
          <ion-col size="auto" class="ion-no-padding" style="margin-top: 2px">
            <img
              [src]="'assets/games/' + matchData.game_id + '.png'"
              style="width: auto; height: 2rem"
              alt=""
            />
          </ion-col>
          <ion-col size="auto"
            >{{ matchData.team1.name }} VS {{ matchData.team2.name }}</ion-col
          >
        </ion-row>
        <ion-row
          class="ion-justify-content-between"
          style="margin-top: 10px; padding-left: 10px"
        >
          <ion-col
            size="auto"
            class="ion-no-padding"
            style="align-self: self-end"
            >{{
              matchData.selectedTeam === "team1"
                ? matchData.team1.name
                : matchData.team2.name
            }}
            <br />
            Match Winner</ion-col
          >
          <ion-col size="auto" class="ion-no-padding" style="margin-top: 2px">
            <ion-row style="align-items: center; gap: 0.5rem">
              <ion-col
                size="auto"
                class="ion-no-padding"
                style="margin-top: 2px"
              >
                <img
                  [src]="
                    'assets/teams/' +
                    (matchData.selectedTeam === 'team1'
                      ? matchData.team1.team_id
                      : matchData.team2.team_id) +
                    '.png'
                  "
                  style="width: auto; height: 2.1rem"
                  alt=""
                />
              </ion-col>
              <ion-col
                size="auto"
                style="
                  align-self: self-end;
                  color: #6f0ad5;
                  font-size: 1.5rem;
                  font-style: italic;
                "
                >{{
                  matchData.selectedTeam === "team1"
                    ? matchData.odds.team1.odds
                    : matchData.odds.team2.odds
                }}</ion-col
              >
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid
        style="font-size: 1rem; font-style: italic"
        class="ion-no-padding"
      >
        <ion-row class="ion-no-padding">
          <ion-col
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 0px 1rem;
              border: 1px solid black;
            "
            size="6"
          >
            <img
              style="margin-left: -10px; width: 40px; height: auto"
              src="/assets/peso.png"
              alt=""
            />
            <ion-input
              [(ngModel)]="betAmount"
              style="text-align: right; padding-right: 1rem"
              type="number"
              placeholder="₱ 0.00"
            ></ion-input>
          </ion-col>
          <ion-col
            style="
              display: flex;
              gap: 5px;
              justify-content: space-between;
              align-items: center;
              padding: 1px 1rem;
              border: 1px solid black;
            "
            size="6"
          >
            <p>PAYOUT</p>
            <p>
              ₱
              {{
                (matchData.selectedTeam === "team1"
                  ? matchData.odds.team1.odds
                  : matchData.odds.team2.odds) * betAmount
              }}
            </p>
          </ion-col>
        </ion-row>
        <!-- <ion-row class="ion-no-padding" >
            <ion-col style="text-align: center; padding:1rem; border: 1px solid black;">Odds have updated to <span style="color:#6F0AD5">1.38</span></ion-col>
          </ion-row> -->
        <ion-row
          class="ion-no-padding"
          style="color: white; text-align: center"
        >
          <ion-col class="ion-no-padding" style="background-color: #222428">
            <ion-button fill="clear" style="width: 100%; color: white">
              REJECT
            </ion-button>
          </ion-col>
          <ion-col class="ion-no-padding" style="background-color: #6f0ad5">
            <ion-button
              (click)="bet()"
              fill="clear"
              style="width: 100%; color: white; --background: #6f0ad5"
            >
              ACCEPT
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-content>
  } @else { 
  @if(playerMatches) 
  { 
    <ion-content color="dark" class="ion-padding">
    @for(playerMatch of playerMatches; track playerMatch){
      <ion-card
        class="card ion-no-padding"
      >
        <div class="status-container">
          @if(playerMatch.status === "finished"){
            @if(playerMatch.result === "win") {
              <div class="slanted-container win-bg">
                <p>WIN!</p>
              </div>
              <div class="amount-after win-text">
                <p>+{{playerMatch.win_amount}}</p>
              </div>
            }
            @else {
              <div class="slanted-container lose-bg">
                <p>LOSE!</p>
              </div>
              <div class="amount-after lose-text">
                <p>-{{playerMatch.amount}}</p>
              </div>
            }
          }
          @else {
            <div class="slanted-container pending-bg">
              <p>Pending</p>
            </div>
            <div class="amount-after pending-text">
              <p>{{playerMatch.amount}}</p>
            </div>
          }
        </div>
        <ion-grid class="ion-no-padding" style="padding: 1.5rem">
          <ion-row style="align-items: center; gap: 0.5rem">
            <ion-col size="auto" class="ion-no-padding" style="margin-top: 2px">
              <img
                [src]="'assets/games/' + playerMatch.game_id + '.png'"
                style="width: auto; height: 2rem"
                alt=""
              />
            </ion-col>
            <ion-col size="auto"
              >{{ playerMatch.team1.name }} VS {{ playerMatch.team2.name }}</ion-col
            >
          </ion-row>
          <ion-row
            class="ion-justify-content-between"
            style="margin-top: 10px; padding-left: 10px"
          >
            <ion-col
              size="auto"
              class="ion-no-padding"
              style="align-self: self-end"
              >{{
                playerMatch.selectedTeam === "team1"
                  ? playerMatch.team1.name
                  : playerMatch.team2.name
              }}
              <br />
              Match Winner</ion-col
            >
            <ion-col size="auto" class="ion-no-padding" style="margin-top: 2px">
              <ion-row style="align-items: center; gap: 0.5rem">
                <ion-col
                  size="auto"
                  class="ion-no-padding"
                  style="margin-top: 2px"
                >
                  <img
                    [src]="
                      'assets/teams/' +
                      (playerMatch.selectedTeam === 'team1'
                        ? playerMatch.team1.team_id
                        : playerMatch.team2.team_id) +
                      '.png'
                    "
                    style="width: auto; height: 2.1rem"
                    alt=""
                  />
                </ion-col>
                <ion-col
                  size="auto"
                  style="
                    align-self: self-end;
                    color: #6f0ad5;
                    font-size: 1.5rem;
                    font-style: italic;
                  "
                  >{{
                    playerMatch.selectedTeam === "team1"
                      ? playerMatch.odds.team1.odds
                      : playerMatch.odds.team2.odds
                  }}</ion-col
                >
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
  } 
</ion-content>
} @else { Loading... } }
</ion-menu>
}
