<!-- Manu for Game -->
<ion-menu menuId="game-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <div (click)="showWelcomeScreen(true)" class="logo-container">
        <img class="logo" src="assets/logo.png" alt="logo" />
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content color="dark" class="ion-padding">
    <ion-card
      (click)="filterMatches(-1)"
      [ngClass]="{'clicked': selectedGame === -1}"
      class="ion-no-border menu-card"
    >
      <ion-card-content class="menu-card-content">
        <img class="menu-img" [src]="'assets/games/all.png'" alt="logo" />
        <p class="menu-title">All Games</p>
      </ion-card-content>
    </ion-card>
    @if (gameData && gameData.length > 0) { @for (game of gameData; track game)
    {
    <ion-card
      [ngClass]="{'clicked': selectedGame === game.game_id}"
      (click)="filterMatches(game.game_id)"
      class="ion-no-border menu-card"
    >
      <ion-card-content class="menu-card-content">
        <img
          class="menu-img"
          [src]="'assets/games/' + game.game_id + '.png'"
          alt="logo"
        />
        <p class="menu-title">{{game.name}}</p>
      </ion-card-content>
    </ion-card>
    } }
  </ion-content>
</ion-menu>

<!-- <app-bet-menu></app-bet-menu> -->

<!-- Main Content -->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar style="--background: #121212; color: white">
      <ion-buttons slot="start">
        <!-- refactorable? -->
        <ion-menu-button (click)="openGameMenu()"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <ion-button
          (click)="showWelcomeScreen(true)"
          fill="clear"
          class="header-title"
          >ESPORTS</ion-button
        >
      </ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="person"></ion-icon>
        </ion-button>
        <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
          <ng-template>
            <ion-content class="ion-padding">
              <!-- <ion-button (click)="navigateTo('deposit')">Deposit</ion-button>
              <ion-button (click)="navigateTo('withdraw')">Withdraw</ion-button>
              <ion-button (click)="navigateTo('account')">Account</ion-button>
              <ion-button (click)="navigateTo('profile')">Profile</ion-button>
              <ion-button (click)="navigateTo('transaction-history')"
                >Transaction History</ion-button
              >
              <ion-button (click)="navigateTo('bet-history')"
                >Bet History</ion-button
              > -->
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!-- changer to router? -->
    @if(isWelcomeScreen) {
    <app-welcome-screen></app-welcome-screen>
    } @else {
    <app-bet-selection [matchData]="filteredMatches"></app-bet-selection>
    }
  </ion-content>
</div>
