<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <div class="logo-container">
        <img class="logo" src="assets/logo.png" alt="logo" />
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content color="dark" class="ion-padding">
    <ion-card (click)="navigateToValorant()" class="ion-no-border menu-card">
      <ion-card-content class="menu-card-content">
        <img class="menu-img" src="assets/images/valorant.png" alt="logo" />
        <p class="menu-title">Valorant</p>
      </ion-card-content>
    </ion-card>

    <ion-card (click)="navigateToValorant2()" class="ion-no-border menu-card">
      <ion-card-content class="menu-card-content">
        <img class="menu-img" src="assets/images/valorant.png" alt="logo" />
        <p class="menu-title">Valorant</p>
      </ion-card-content>
    </ion-card>

    @if (gameData && gameData.length > 0) { @for (game of gameData; track game)
    {
    <ion-item class="ion-padding">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ game.name }}</ion-card-title>
          <ion-card-subtitle>{{ game.genre }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-item>
    } }
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar style="--background: #121212; color: white">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <ion-button fill="clear" class="header-title">ESPORTS</ion-button>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="person"></ion-icon>
        </ion-button>
        <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
          <ng-template>
            <ion-content class="ion-padding">
              <!-- <ion-button (click)="navigateTo('deposit')">Deposit</ion-button>
              <ion-button (click)="navigateTo('withdraw')">Withdraw</ion-button>
              <ion-button (click)="navigateTo('account')">Account</ion-button>
              <ion-button (click)="navigateTo('profile')">Profile</ion-button>
              <ion-button (click)="navigateTo('transaction-history')"
                >Transaction History</ion-button
              >
              <ion-button (click)="navigateTo('bet-history')"
                >Bet History</ion-button
              > -->
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
</div>
