

<ion-action-sheet
  [isOpen]="isActionSheetOpen"
  [buttons]="actionSheetButtons"
  (didDismiss)="setActionSheetOpen(false)"
></ion-action-sheet>

<ion-alert
  [isOpen]="isAlertOpen"
  trigger="present-alert"
  header="Are you sure you want to delete?"
  [buttons]="alertButtons"
  (didDismiss)="setAlertOpen(false)"
></ion-alert>

<ion-content class="ion-padding" color="dark">

  <h1>Players</h1>
  @if(!isSearch){
    <div class="action-buttons">
      <!-- (click)="toggleSearch()"  -->
      <ion-button (click)="toggleSearch(true)" class="search">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="showPlayerModal('Add')" class="add">
        <ion-icon name="add"></ion-icon>
        Add Players
      </ion-button>
    </div>
  }
  @else {
    <ion-searchbar (ionInput)="handleInput($event)" (ionCancel)="toggleSearch(false)"  debounce="250"  show-cancel-button="always" class="search-bar ion-no-padding" animated="true" placeholder="Search..."></ion-searchbar>
  }

@if(filteredData){
  @for(player of filteredData  | paginate: { itemsPerPage: 25, currentPage: p, totalItems: total }; track player) {
    <app-player-details (toggleActionSheet)="toggleActionSheet($event)" [playerData]="player"></app-player-details>
  }
}
@else {
  Loading...
}
</ion-content>
<ion-footer translucent="true">
  <div class="pagination-container">
    <pagination-controls
    [autoHide]="true"       
    previousLabel=""
    nextLabel="" 
    class="pagination"
     (pageChange)="handlePageChange($event)"></pagination-controls>
  </div>
</ion-footer>
