<app-bet-menu [matchData]="selectedMatch"></app-bet-menu>
<ion-content id="bet-selection" class="ion-padding">
  <h1>Upcoming Event</h1>
  <br>
  @if(matches && matches.length > 0 ){
   @for(data of matches; track data){
    @if(data.matches && data.matches.length > 0){
      {{data.date}}
        @for(match of data.matches; track match){ 
          <app-match-card-details [matchDetail]="match" (dataEvent)="handleData($event)"></app-match-card-details>
      }
     }
     <!-- For what is this again???? -->
     <!-- @else {
      <p>No matches Available</p>
      } -->
    }
  } @else {
    <p>Loading...</p>
  }
  
</ion-content>
