<ion-header>
  <ion-toolbar class="flex-center" color="dark">
    <ion-buttons slot="start">
      <img class="logo" src="assets/logo.png" alt="logo" />
    </ion-buttons>
    <div slot="end" class="login-signup-container">
      <ion-button
        id="sign-in"
        (click)="openSignUpModal()"
        shape="round"
        slot="end"
        fill="outline"
        class="button"
        >Sign up</ion-button
      >
      <ion-button
        (click)="openLoginModal()"
        id="login"
        class="color-purple"
        shape="round"
        slot="end"
        >Login</ion-button
      >
    </div>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="landing-container">
    <div class="landing-content">
      <h1>
        Lets Talks <br />
        Esports Buddy
      </h1>
      <h2 class="colored-outline">Best Esports Betting Site</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Sed sed risus
        pretium quam vulputate. Placerat duis ultricies lacus sed turpis
        tincidunt id aliquet risus
      </p>
      <ion-searchbar class="custom" placeholder="Search">
        <ion-button class="left-side-background color-purple">
          <ion-icon slot="start" name="search-outline"></ion-icon> 
          Go!
        </ion-button>
      </ion-searchbar>
    </div>
  </div>
</ion-content>
