
  <ion-header>
    <ion-toolbar>
      <ion-title>{{type}} Game</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismiss()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <!-- [formGroup]="gameForm" -->
    <form >
      <ion-item>
        <ion-input
         label="Name"
          labelPlacement="floating"
          type="text"
          [(ngModel)]="gameData.name"
          [ngModelOptions]="{standalone: true}"
          required="true"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea
          label="Description"
          labelPlacement="floating"
          [(ngModel)]="gameData.description"
          [ngModelOptions]="{standalone: true}"
        >
        </ion-textarea>
      </ion-item>
      <ion-item>
        <ion-input
          label="Genre"
          labelPlacement="floating"
          type="text"
          [(ngModel)]="gameData.genre"
          [ngModelOptions]="{standalone: true}"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Platform"
          labelPlacement="floating"
          type="text"
          [(ngModel)]="gameData.platform"
          [ngModelOptions]="{standalone: true}"
        ></ion-input>
      </ion-item>
      <ion-button
        style="width: 100%; --background: #6f0ad5"
        shape="round"
        expand="full"
        type="submit"
        (click)="submit()"
        [disabled]="!gameData.name || !gameData.description || !gameData.genre || !gameData.platform"
      >
        Submit
      </ion-button>
    </form>
  </ion-content>