<ion-content style="--background: #121212;" class="ion-padding">
  <ion-grid style="margin-top: 100px">
    <ion-row>
      <ion-col size="4">
        <ion-card class="bonus-1">
          <ion-card-content>
            <p>Welcome Bonus</p>
            <p>200% UP TO</p>
            <p>₱2000</p>
            <ion-button shape="round"  fill="outline"
              >Claim Now</ion-button
            >
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="bonus-2">
          <ion-card-content>
            <p>Free Bet</p>
            <p>200% UP TO</p>
            <p>₱2000</p>
            <ion-button shape="round"  fill="outline"
              >Claim Now</ion-button
            >
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="bonus-3">
          <ion-card-content>
            <p>First Deposit Bonus</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="match-container">
    <h1>Upcoming Events</h1>
    <div class="matches">
      <!-- integrate api data -->
      <app-match-card></app-match-card>
      <app-match-card></app-match-card>
      <app-match-card></app-match-card>
      <app-match-card></app-match-card>
      <app-match-card></app-match-card>
      <app-match-card></app-match-card>
      <!-- @if (matchData && matchData.length > 0) {
            @for (match of matchData; track match) {
              <ion-card>
                <ion-card-title>{{"Match ID: " + match.match_id }}</ion-card-title>
                <ion-card-content >
                  <p>{{ "Game ID: " + match.game_id }}</p>
                  <p>Team1 ID: {{match.team1_id}} vs Team2 ID: {{match.team2_id}}</p>
                </ion-card-content>
              </ion-card>
            }
          } -->
    </div>
  </div>
  <!-- @if (gameData &&
      gameData.length > 0) {
      <swiper-container
        class="mySwiper"
        pagination-clickable="true"
        space-between="20"
        slides-per-view="3"
      >
        @for (game of gameData; track game) {
        <swiper-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{ game.name }}</ion-card-title>
              <ion-card-subtitle>{{ game.genre }}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </swiper-slide>
        }
      </swiper-container>
      } -->
  <!-- @if (matchData &&
      matchData.length > 0) {
      <swiper-container
        class="mySwiper"
        pagination-clickable="true"
        space-between="20"
        slides-per-view="3"
      > -->
  <!-- @for (match of matchData; track match) {
        <swiper-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{ match.name }}</ion-card-title>
              <ion-card-subtitle>{{ match.genre }}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </swiper-slide>
        } -->
  <!-- </swiper-container>
      } -->
</ion-content>
