<ion-card
  style="
    width: fit-content;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #1b1c20;
    color: white;
  "
>
  <ion-grid>
    <ion-row>
      <ion-col size="auto">
        <img
          src="/assets/images/valorant.png"
          style="width: 70px; height: auto"
          alt=""
        />
      </ion-col>
      <ion-col size="auto" style="line-height: 8px">
        <p>VCT CHAMPIONS</p>
        <p style="color: grey">VALORANT</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        size="auto"
        style="
          font-size: 1.2rem;
          margin-top: -20px;
          margin-bottom: -10px;
          line-height: 2px;
        "
      >
        <p>Sentinels</p>
        <p>Loud</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="">
        <ion-button color="light" fill="outline" shape="round">
          2.0
        </ion-button>
      </ion-col>
      <ion-col size="">
        <p>VS</p>
      </ion-col>
      <ion-col size="">
        <ion-button color="light" fill="outline" shape="round">
          1.0
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
