<ion-action-sheet
  [isOpen]="isActionSheetOpen"
  [buttons]="actionSheetButtons"
  (didDismiss)="setActionSheetOpen(false)"
></ion-action-sheet>

<ion-alert
  [isOpen]="isAlertOpen"
  trigger="present-alert"
  header="Are you sure you want to delete?"
  [buttons]="alertButtons"
  (didDismiss)="setAlertOpen(false)"
></ion-alert>

<ion-content class="ion-padding" color="dark">
  <h1>Bets</h1>
  <ion-searchbar
    (ionInput)="handleInput($event)"
    debounce="250"
    class="search-bar ion-no-padding"
    animated="true"
    placeholder="Search..."
  ></ion-searchbar>

  <!-- <swiper-container class="filters" slides-per-view="3.5" >
  @for(button of buttons; track button; let idx = $index) {
    <swiper-slide> 
      <ion-button [class.selected]="selected === button" (click)="handleSelect(idx)" fill="">{{button}}</ion-button>
    </swiper-slide>
  }
  </swiper-container> -->

  @if(filteredData){ @for(bet of filteredData | paginate: {
  itemsPerPage: 25, currentPage: p, totalItems: total }; track bet) {
  <app-bet-details
    (toggleActionSheet)="toggleActionSheet($event)"
    [betData]="bet"
  ></app-bet-details>
  } } @else { Loading... }
</ion-content>
<ion-footer translucent="true">
  <div class="pagination-container">
    <pagination-controls
      [autoHide]="true"
      previousLabel=""
      nextLabel=""
      class="pagination"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
  </div>
</ion-footer>
